In [2]:
#Importing required libraries

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#CSV data to panda data frame

heart_data = pd.read_csv('heart.csv')

In [4]:
# Printing first 5 rows

heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# Printing last 5 rows of dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# counting no. of rows and columns in dataset
heart_data.shape

(303, 14)

In [7]:
# more info
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
#checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
# Statistical measures
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
# checking the distribution of Target variable
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [13]:
# Splitting features and target

X = heart_data.drop(columns='target',axis=1)
Y = heart_data['target']

In [15]:
# Checking

print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [16]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [18]:
# Splitting testing and training data

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

In [19]:
print(X.shape, X_Train.shape, X_Test.shape)

(303, 13) (242, 13) (61, 13)

In [21]:
# Model Training -- Logistic Regression

model = LogisticRegression()

In [23]:
# Training of module

model.fit(X_Train, Y_Train)

c:\users\jjemi\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
# Model Evaluation -- Accuracy score

X_Train_Prediction = model.predict(X_Train)
training_data_accuracy = accuracy_score(X_Train_Prediction, Y_Train)

In [25]:
print('Accuracy on Training data : ',training_data_accuracy)

Accuracy on Training data :  0.8512396694214877

In [26]:
X_Test_Prediction = model.predict(X_Test)
test_data_accuracy = accuracy_score(X_Test_Prediction, Y_Test)

In [27]:
print('Accuracy on Test data : ',test_data_accuracy)

Accuracy on Test data :  0.819672131147541

In [28]:
# Predictive System Building

input_data = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print("The patient is healthy")
else:
    print("The patient is affected by heart disease")

[1]
The patient is affected by heart disease

c:\users\jjemi\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [30]:
input_data = (64,1,0,145,212,0,0,132,0,2,1,2,1)
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print("The patient is healthy")
else:
    print("The patient is affected by heart disease")

[0]
The patient is healthy

c:\users\jjemi\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [33]:
# more generalisation and automation (my own)

input_data = []
age = int(input("Your Age: "))
sex = int(input("Your Sex (Please type 1 or 0 --> Male - 1, Female - 0): "))
cp = int(input("Your chest pain type (Please type 0,1,2 or 3 --> Stable Angina / Angina Pectoris - 0, Unstable Angina - 1, Variant (Prinzmetal) Angina - 2, Microvascular Angina - 3): "))
trestbps = int(input("Your blood pressure(resting): "))
chol = int(input("Your Serum cholestrol: "))
fbs = int(input("Your fasting blood sugar: "))
restecg = int(input("Your resting electrocardiographic results (values 0,1,2 only): "))
thalach = int(input("Your Maximum heart rate achieved: "))
exang = int(input("Your exercise induced angina: "))
oldpeak = float(input("Your ST depression induced by exercise relative to rest: "))
slope = int(input("Your slope of the peak exercise ST segment: "))
ca = int(input("Your number of major vessles (0-3 values only): "))
thal = int(input("Your Thal value: "))
input_data.append(age)
input_data.append(sex)
input_data.append(cp)
input_data.append(trestbps)
input_data.append(chol)
input_data.append(fbs)
input_data.append(restecg)
input_data.append(thalach)
input_data.append(exang)
input_data.append(oldpeak)
input_data.append(slope)
input_data.append(ca)
input_data.append(thal)
tuple_input_data=tuple(input_data)

input_data_as_numpy_array= np.asarray(tuple_input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print("The patient is healthy")
else:
    print("The patient is affected by heart disease")

Your Age:  63
Your Sex (Please type 1 or 0 --> Male - 1, Female - 0):  1
Your chest pain type (Please type 0,1,2 or 3 --> Stable Angina / Angina Pectoris - 0, Unstable Angina - 1, Variant (Prinzmetal) Angina - 2, Microvascular Angina - 3):  3
Your blood pressure(resting):  145
Your Serum cholestrol:  233
Your fasting blood sugar:  1
Your resting electrocardiographic results (values 0,1,2 only):  0
Your Maximum heart rate achieved:  150
Your exercise induced angina:  0
Your ST depression induced by exercise relative to rest:  2.3
Your slope of the peak exercise ST segment:  0
Your number of major vessles (0-3 values only):  0
Your Thal value:  1

[1]
The patient is affected by heart disease

c:\users\jjemi\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(